body{
    padding: 0;
    margin: 0;
    background:url(assets/cachorros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
form{ 
    width: 80%;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-left: 75px;
    color: red;
    text-shadow: 2px 2px 5px black;
}
h4{
    text-align: center;
    margin-left: 75px;
    font-size: 20;
    color: white;
}
input{
    width: 400px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 5px;
}
label{
    width: 100px;
    margin-left: 20px;
    font-size: 20;
    color: white;
}
select{
    margin-left: 20px;
}
.termo{
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    color: white;
}
.termo input{
    width: auto;
}
button{
    margin-left: 20px;
    padding: 10px 20px;
}
.container{
    width: 450px;
}
